body {
    background-color: rgb(25, 26, 29);
}

.card {
    margin-bottom: 3rem;
    background-color: transparent;
    border-color: rgb(236, 105, 70);
    transition: all 0.5s;
}

.card-body .card-title {
    color: rgb(236, 105, 70);
}

.card-title {
    margin-bottom: 10px;
}

.card-subtitle {
    color: white;
    font-weight: 400;
}

.card:hover {
    cursor: pointer;
    color: white !important;
    transform: scale(1.1);
}

.card-title:hover {
    color: white;
}

.heading {
    margin-bottom: 0.5rem;
    color: white;
}

.sub-heading {
    color: white;
    margin-bottom: 2rem;
}